# Visual Studio Code folder
.vscode/

# Node.js modules folder
node_modules/

# Environment configurations
.env
.env.local
.env.*.local

# Python Environment
venv

# Python Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd